<!DOCTYPE html>
<html ng-app>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="./script.js"></script>
<style>
body {
  font-family: courier;
  font-size: 12px;
}
</style>
</head>
<body>
  <h2>Heat map of open door probability ({{startDate | date : mediumDate }} to {{endDate | date : mediumDate }})!</h2>
  <input type="date" ng-model="startDate" placeholder="Choose Start Date" />
  <input type="date" ng-model="endDate" placeholder="Choose End Date" />
  <input type="submit" ng-model="submit" />
  <br>
</body>
</html>
